[Unit]
Description=Runs GamerTagIDGrabber
After=default.target

[Service]
Type=simple
ExecStartPre=/bin/sh -c 'until ping -c1 google.com; do sleep 1; done;'
WorkingDirectory=%h/Programming/Bots/GamerTagIDGrabber
ExecStart=%h/Programming/Bots/GamerTagIDGrabber/main.py
Restart=always
RestartSec=15s

[Install]
WantedBy=default.target
