aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
attrs==24.2.0
black==25.1.0
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.8
colorlog==6.9.0
frozenlist==1.6.0
hikari==2.1.0
hikari-crescent==1.2.0
idna==3.10
multidict==6.4.3
mypy==1.15.0
mypy-extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
propcache==0.3.1
psnawp==2.2.0
pycountry==24.6.1
pyrate-limiter==2.10.0
pyright==1.1.400
python-dotenv==1.1.0
requests==2.32.3
requests-ratelimiter==0.7.0
ruff==0.11.8
sigparse==3.0.0
typing-extensions==4.13.2
urllib3==2.4.0
yarl==1.20.0
